body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: white;
}

.clearfix {
    overflow: auto;
  }

h1 {
    font-size: 1.75rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.25rem;
}

h5, time {
    font-size: .8rem;
    font-weight: lighter;
}

p {
    font-size: .9rem;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: 	#0645AD;
}

.container {
    text-align: center;
}

.card {
    width: 70%;
    background: white;
    margin: 3rem auto 3rem auto;
    border-radius: 2rem;
    padding: 2.5rem 1rem 2.5rem 1rem;
    filter: drop-shadow(0 0 1rem lightgrey);
}

.card h1 {
    font-weight: normal;
    color: black;
}

.card h1, .card h2, .card h3{
    margin: 0 0 .75rem 0;
}

.card h5 {
    margin: 0 0 .5rem 0;
}

.card p {
    margin: .75rem;
}

.card-image {
    width: 100%;
}

.card .card-image img {
    width: 75%;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;
}

.emoji {
    padding: 0 0 0 .5rem;
}

#info .profile-picture {
    width: 100%;
}

#info .profile-picture img {
    width: 55%;
    text-align: center;
    border-radius: 50%;
    margin: 1rem;
}

#info .icons {
    padding: 1rem;
}

#info .icon {
    width: 33.33%;
    float: left;
}

#info .icon img {
    width: 2rem;
}

.link {
    margin: 1rem;
}

.link img {
    width: 2rem;
}

.bold-list {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.bold-list li{
    display: inline;
    font-weight: bold;
    word-wrap: break-word; 
}

.bold-list li:before { 
    content: " \00b7"; 
    margin: .5rem;
}

.regular-list {
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    list-style: circle;
    list-style-position: outside;
    margin-left: 1rem;
    line-height: 1.5rem;
}

#About-Me{
    color: #E74459;
}

#Experiences {
    color: #1E92D8;
}

#Projects {
    color: #6239FB;
}

#Organizations {
    color: #1B9D48;
}

@media only screen and (min-width: 1024px){
    .container {
        width: 850px;
        margin: 1rem auto 1rem auto;
        overflow: hidden;
    }

    .sidebar {
        width: 350px;
        position: fixed;
        height: 100%;
        overflow-x: hidden;
        
    }

    .sidebar .card {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .content {
        width: 500px;
        float: right;
        text-align: center;
        margin-top: 5rem;
    }
}





