body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: white;
}

.clearfix {
  overflow: auto;
}

h1 {
  font-size: 1.75rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.25rem;
}

h5,
time {
  font-size: 0.8rem;
  font-weight: lighter;
}

p {
  font-size: 0.9rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #0645ad;
}

.container {
  text-align: center;
}

.card {
  width: 70%;
  background: white;
  margin: 3rem auto 3rem auto;
  border-radius: 2rem;
  padding: 2.5rem 1rem 2.5rem 1rem;
  filter: drop-shadow(0 0 1rem lightgrey);
}

.card h1 {
  font-weight: normal;
  color: black;
}

.card h1,
.card h2,
.card h3 {
  margin: 0 0 0.75rem 0;
}

.card h5 {
  margin: 0 0 0.5rem 0;
}

.card p {
  margin: 0.75rem;
}

.card-image,
.card-video {
  width: 100%;
}

.card .card-image img,
.card .card-video video {
  width: 90%;
  text-align: center;
  border-radius: 1rem;
  margin: 1rem;
}

.card .card-image img,
.card .card-video iframe {
  width: 90%;
  text-align: center;
  border-radius: 1rem;
  margin: 1rem;
}

.emoji {
  padding: 0 0 0 0.5rem;
}

#info .profile-picture {
  width: 100%;
}

#info .profile-picture img {
  width: 55%;
  text-align: center;
  border-radius: 50%;
  margin: 1rem;
}

#info .icons {
  padding: 1rem;
}

#info .icon {
  width: 33.33%;
  float: left;
}

#info .icon img {
  width: 2rem;
}

.link {
  margin: 1rem;
}

.link img {
  width: 2rem;
}

.link img:hover {
  opacity: 50%;
}

.bold-list {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.bold-list li {
  display: inline;
  font-weight: bold;
  word-wrap: break-word;
}

.bold-list li:before {
  content: " \00b7";
  margin: 0.5rem;
}

.regular-list {
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  list-style: circle;
  list-style-position: outside;
  margin-left: 1rem;
  line-height: 1.5rem;
}

#About-Me {
  color: #e74459;
}

#Experiences {
  color: #1e92d8;
}

#Projects {
  color: #6239fb;
}

#Organizations {
  color: #1b9d48;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 850px;
    margin: 1rem auto 1rem auto;
    overflow: hidden;
  }

  .sidebar {
    width: 350px;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    place-items: center;
  }

  .sidebar .card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .content {
    width: 500px;
    float: right;
    text-align: center;
    margin-top: 5rem;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }

  .card {
    background: rgba(54, 54, 54, 0.212);
    color: white;
    filter: drop-shadow(0 0 0rem rgba(124, 124, 124, 0.212));
  }

  .card h1 {
    font-weight: normal;
    color: white;
  }

  .card h2,
  .card h3 {
    color: lightgray;
  }
  .card h5 {
    color: darkgray;
  }

  .icon {
    filter: invert(100%);
  }

  .link {
    filter: invert(100%);
  }
}

/* onhover events for desktop only */
@media (hover: hover) and (pointer: fine) {
  #info .profile-picture:hover {
    opacity: 50%;
  }

  #info .icon img:hover {
    opacity: 50%;
  }
}
